.project-img:hover {
    transition: opacity 0.4s ease-in-out;
    opacity: 0.7;
}

.form {
    background-color: rgba(255, 255, 255, 0.8); /* Replace with your desired background color and opacity */
    padding: 20px;
    border-radius: 10px;
}

.title {
    font-family: fantasy;
}
